---
---

.logo-banner {
  background-color:rgb(64, 173, 167);
  box-sizing:border-box;
  color:rgba(255, 255, 255, 0.0);
  display:block;
  font-family:Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size:14px;
  height:340px;
  line-height:20px;
  padding-bottom:40px;
  padding-left:0px;
  padding-right:0px;
  padding-top:40px;
  text-size-adjust:100%;
  width:1903px;
}
