@import "normalize";
@import "variables";

body {
  font-size: 14px;
  line-height: 1.4285em;
  background-color: #40ada6;
  color: rgba(0,0,0,.87);
}

body, h1, h2, h3, h4, h5 {
  padding: 0;
  font-family:Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
  line-height: 1.28571429em;
  margin: calc(2rem - .14285714em) 0 1rem;
  font-weight: 700;
}

// body {
//   background-color: #40ada6;
//   color: #333;
//   font-family: 'Roboto Slab', sans-serif;
//   margin: 0;
//   padding: 0;
// }

h1 {
  min-height: 1rem;
  font-size: 2rem;
}

div {
  display: block;
}

.splash-page-layout {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  display:flex;
  flex-direction:column;
  min-height: 100%;
  text-size-adjust:100%;
  width:1903px;
}

.logo-banner {
  background-color:rgb(64, 173, 167);
  box-sizing:border-box;
  height:340px;
  line-height:20px;
  padding-bottom:40px;
  padding-left:0px;
  padding-right:0px;
  padding-top:40px;
  text-size-adjust:100%;
  width:1903px;
}
.slogan-banner {
  background-color:rgb(64, 173, 167);
  box-sizing:border-box;
  height:340px;
  line-height:20px;
  padding-bottom:40px;
  padding-left:0px;
  padding-right:0px;
  padding-top:40px;
  text-size-adjust:100%;
  width:1903px;
}
.logo-banner .logo {
  border-style:none;
  box-sizing:border-box;
  display:block;
  height:185.344px;
  margin:auto;
  max-width:160px;
  text-size-adjust:100%;
  width:160px;
}

.logo-banner .logo-banner-header {
  font-size: 40px;
  color: #fff;
  text-align: center;
}
